html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
/** Header Section **/
header {
  justify-content: flex-start;
}
.logo-title {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-grow: 1;
}
.logo {
  height: 1.5rem;
  width: auto;
  padding: 0px;
  margin: auto 1rem auto 0.5rem;
}
.title {
  font-size: 1rem;
  margin: 0.66rem 0;
  text-transform: uppercase;
}
/**Hero Section**/
.hero {
	background-image: url("moto.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 25rem;
}
.banner {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.new-arrival {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 9rem;
	width: 20rem;
	padding: 2rem 3rem;
}
.new-arrival h3 {
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
}
.new-arrival h2 {
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	padding-top: 0.25rem;
}
/** Site Nav Section**/
.menu {
  display: flex;
  background-color: firebrick;
  padding: 0.75rem 0rem;
}
.menu nav {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  margin: 0 auto;
  flex-grow: 1;
}
.menu nav a {
  color: white;
  text-decoration: none;
}
.shrink {
	display: none;
}
/** Main Body Section AUGUST 10 FLEXBOX CONTAINER/CONTAINEE PROBLEM**/
.container {
}
.mainbody {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-images {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  margin: 3rem 0 0 0;
}
.stock {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.stock img {
  padding: 2rem;
  height: 9rem;
}
.stock h5 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem
}
.store-details {
  color: black;
  max-width: 960px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.infoboxes {
  display: flex;
  margin: 3rem 0 4rem 0;
  width: 97%;
  justify-content: space-between;
}
.infoboxes h5 {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}
.hours {
  width: 35%;
}
.location {
  width: 35%;
}
/** Footer Section **/
footer {
  display: flex;
  flex-grow: 1;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  height: 5rem;
  padding: 2rem;
}
/** For screens less than 768 px **/
@media only screen and (max-width: 768px) {
	.menu nav {
		justify-content: center;
	}
	.full {
		display: none;
	}
	.shrink {
		display: initial;
	}
	.product-images .stock {
		width: 40%;
	}
	.product-images #glasses {
		display: none;
	}
}
/** For screens less than 470px **/
@media only screen and (max-width: 470px) {
	body {
		max-width: 470px;
	}
	.hero {
		height: 15rem;
	}
	.new-arrival {
		margin-top: 10rem;
		width: 100%;
		padding: 1rem 2rem;
	}
	.new-arrival h3 {
	font-size: 0.77rem;
	}
	.new-arrival h2 {
	font-size: 1rem;
	}
	.product-images #watch {
	display: none;
	}
	.product-images .stock {
	width: 90%;
	}
	.infoboxes {
		flex-direction: column;
	}
	.hours {
	width: 100%;
	}
	.location {
	width: 100%;
	}
	footer p {
	text-align: center;
	}
}